body
{
	background-color:m;
	margin:50px;
	padding:0;
	font-family: arial bold;
	font-size: 20;
	text-align:left;
	font-style:bold;
}
h1
{
	font-size:30;
	color:red;
	text-align:center;
}

h2
{
	font-size:30;
	color:red;
	text-align:left;
}
h3
{
	font-size:30;
	color:red;
	text-align:left;
}
a
{
	font:bold;
	color:red;
}
footer
{
		background-color:red;
	width:1800px;
	height:150px;
	text-indent:20px;
	word-spacing:4px
}
div {
	width:1300px;
	height:5300;
}
